.container
  %h2 参加者名簿
  %table.table.table-bordered 
    %tbody
      %td
        31R     堀越悠太
      %td
        31R     本橋　駿
      %td
        32R     浪﨑栄介
      %td
        32R     茂木良平
      %td
        32R     野邊晴陽
      %td
        32R     飯島 良太
      %td
        32R     齋藤 圭太
      %td
        33R     小林 拓也
      %td
        33R     岡嶋俊哉
      %td
        33R     新谷数馬
      %td
        33R     柴山亘
      %td
        33R     深尾健彦
      %td
        33R     玉井 遥万
      %td
        33R     齋藤　充啓
      %td
        34R     並木正信
      %td
        34R     兵藤海沙樹
      %td
        34R     坪井佑樹
      %td
        34R     柴山光
      %td
        34R     栃木 克史
      %td
        34R     淺井惇
      %td
        34R     竹野晃祐
      %td
        34R     関根　惟史
      %td
        34R     高山 拓也
      %td
        35R     中村有吾
      %td
        35R     坂田昌則
      %td
        35R     山根崇弘
      %td
        35R     村上航規
      %td
        35R     渡邉 祐太
      %td
        35R     茂木健太朗
      %td
        35R     荒井　達也
      %td
        35R     高本 真伍
      %td
        35R     高橋 孝生
      %td
        36R     中村 誠
      %td
        36R     佐藤弘之
      %td
        36R     堀 良太
      %td
        36R     大島健太郎
      %td
        36R     大浦 智
      %td
        36R     奥川洋平
      %td
        36R     山田惣一朗
      %td
        36R     慎 秀一
      %td
        36R     牧野 賢吾
      %td
        36R     田中裕樹
      %td
        36R     長野智彦
      %td
        37R     宅間章善
      %td
        37R     川嶋祐輔
      %td
        37R     柏森正樹
      %td
        37R     池田 諒
      %td
        37R     渋谷純平
      %td
        37R     銭 昆
      %td
        37R     高橋俊介(リカルド)
      %td
        38R     伊藤 裕太
      %td
        38R     庵地輝
      %td
        38R     林祐喜
      %td
        38R     河内大地
      %td
        39R     中山 貴文
      %td
        39R     井上陽裕
      %td
        39R     佐藤直也
      %td
        39R     小室浩康
      %td
        39R     河合　怜
      %td
        39R     浜田康平
      %td
        39R     藤崎杏里
      %td
        39R     金子達也
      %td
        忘れた  塚本　直也
      %td
        忘れた  宮囿悟
      %td
        忘れた  寺本篤央
      %w
        忘れた  小室浩康
      %td
        忘れた  村上潤太郎
      %td
        忘れた  松井健人
      %td
        忘れた  松浪 慧
      %td
        忘れた  相内元太

  %p= link_to "校歌歌詞", "http://www.urawa-h.spec.ed.jp/index.php?page_id=189"
  %p= link_to "八重雲歌詞", "http://blog.trick-with.net/2013/01/10/yaekumookoru/"
  %p= link_to "ゲームページ", "/output"
